{% extends "layout.html" %}


{% block body %}
<div class = "row">
   <div class = "col-md-12">
      <h1 class = "text-center" id = "Waiting" style = "display:none;">Waiting for your partner...</h1>
      <h1 class = text-center" id = "headerone">Please select how much "lab money" you would like to donate to the shared pot</h1>
      <h1 class = "text-center" id = "headertwo" style = "display:none;">0</h1>
   </div>
</div>
<div class = "row">
   <div class = "col-md-3"></div>
   <div class = "col-md-1">
      <button onClick="submitResponse(0, 'Donation')" class="btn btn-info btn-lg hidden" type="button" id="submit-0" style="width: 82px;height: 47px;">0</button></div>
    <div class = "col-md-1">
      <button onClick="submitResponse(1, 'Donation')" class="btn btn-info btn-lg hidden" type="button" id="submit-1" style="width: 82px;height: 47px;">1</button></div>
    <div class = "col-md-1">
      <button onClick="submitResponse(2, 'Donation')" class="btn btn-info btn-lg hidden" type="button" id="submit-2" style="width: 82px;height: 47px;">2</button></div>
    <div class = "col-md-1">
      <button onClick="submitResponse(3, 'Donation')" class="btn btn-info btn-lg hidden" type="button" id="submit-3" style="width: 82px;height: 47px;">3</button></div>
    <div class = "col-md-1">
      <button onClick="submitResponse(4, 'Donation')" class="btn btn-info btn-lg hidden" type="button" id="submit-4" style="width: 82px;height: 47px;">4</button></div>
    <div class = "col-md-1">
      <button onClick="submitResponse(5, 'Donation')" class="btn btn-info btn-lg hidden" type="button" id="submit-5" style="width: 82px;height: 47px;">5</button></div>
    <div class = "col-md-3"></div>
</div>

<div class = "row">
   <div class = "col-md-3"></div>
   <div class = "col-md-1">
      <button onClick="submitResponse(6, 'Donation')" class="btn btn-info btn-lg hidden" type="button" id="submit-6" style="width: 82px;height: 47px;">6</button></div>
    <div class = "col-md-1">
      <button onClick="submitResponse(7, 'Donation')" class="btn btn-info btn-lg hidden" type="button" id="submit-7" style="width: 82px;height: 47px;">7</button></div>
    <div class = "col-md-1">
      <button onClick="submitResponse(8, 'Donation')" class="btn btn-info btn-lg hidden" type="button" id="submit-8" style="width: 82px;height: 47px;">8</button></div>
    <div class = "col-md-1">
      <button onClick="submitResponse(9, 'Donation')" class="btn btn-info btn-lg hidden" type="button" id="submit-9" style="width: 82px;height: 47px;">9</button></div>
    <div class = "col-md-1">
      <button onClick="submitResponse(10, 'Donation')" class="btn btn-info btn-lg hidden" type="button" id="submit-10" style="width: 82px;height: 47px;">10</button></div>
    <div class = "col-md-4"></div>
</div>
{% block scripts %}
    <script>
        createAgent();
    </script>
{% endblock %}
