{% extends "layout.html" %}

{% block body %}
    <div class="main_div text-center">
        <h1>Instructions for part 1</h1>

        <hr>

        <p>During part 1, you will be randomly assigned a partner from your group to play a money game. In this game, you will be given 10 units of "lab money" and must decide how much of this, if any, you will donate to a shared pot. Once your partner has also made this decision, the total in the pot is multiplied then split evenly between you and your partner. Your total score for that round is the points you did not donate plus the points you receive from the pot.</p>

        <p>Shown below is an animated GIF to help you understand how the game works and how much you would earn depending on the donations of you and your partner. When you are ready proceed, click "Begin" below.</p>

        <img src="../static/gif/Instruction1.gif" style = "width:750px; height:550px;">

        <hr>

        <div>
            <div class="row">
                <div class="col-10"></div>
                <div class="col-2">
                    <button type="button" class="btn btn-success btn-lg" onClick="dallinger.allowExit(); dallinger.goToPage('experiment')">
                    Begin</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        dallinger.createParticipant();
    </script>
{% endblock %}
