{% extends "layout.html" %}

{% block body %}
    <div class="main_div text-center">
        <h1>Instructions for part 1</h1>

        <hr>

        <p>During part 1, you will be playing a game with a <strong>bot</strong>. In this game your task is to earn as many points as you can across 5 rounds. At the start of each round, you will be given 10 points and then must decide how much of this to send to the bot (you will get to keep <strong>half</strong> of what you don't send).</p> 

        <p>The bot will then send <strong>bonus</strong> points back to you, which vary depending on your choice.</p>  

        <p>When you are ready proceed, click "Begin" below.</p>

        <hr>

        <div>
            <div class="row">
                <div class="col-10"></div>
                <div class="col-2">
                    <button type="button" class="btn btn-success btn-lg" onClick="dallinger.allowExit(); dallinger.goToPage('experiment')">
                    Begin</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        dallinger.createParticipant();
    </script>
{% endblock %}
