{% extends "layout.html" %}

{% block body %}
  <div class="main_div text-center">
    <div class = "container">
      <div class = "row">
         <div class = "col-md-12 text-center">
            <h1>Part Two</h1>
         </div>
      </div>
      <div class = "row" id = "Partner">
         <div class = "col-md-12 text-center">
            <h1>Randomly assigning partners, please wait a moment....</h1>
         </div>
      </div>
      <div class = "row" id = Instructions style = "display:none;">
         <div class = "col-md-12 text-center">
            <p>In this part of the game, you will be playing with a <strong>real participant</strong>.</p>
            <p>You will have the chance to reduce your partners score at a small cost to yourself.</p> 
            <p>Note that once your decision has been made, the game is over and your partner will <strong>not</strong> be able to reduce your earnings in response. </p>
         </div>
      </div>  
      <div class="row" id = "Next" style = "display:none;">
         <div class="col-md-10"></div>
         <div class="col-md-2">
            <button type="button" class="btn btn-success btn-lg" onClick="dallinger.allowExit(); dallinger.goToPage('experiment2')">Next</button>
         </div>
      </div>
   </div>
  </div>
{% endblock %}

{% block scripts %}
    <script>
        changePartners();
        condition = randomiseCondition();
        dallinger.storage.set("Condition", condition);
    </script>
{% endblock %}
