{% extends "layout.html" %}

{% block body %}
  <div class = "container">
      <div class = "row">
         <div class = "col-md-12 text-center">
            <h1 style="font-size: 53px">Part Two</h1>
         </div>
      </div>
      <div class = "row" id = "Partner">
         <div class = "col-md-12 text-center">
            <h1>Allocating partners, please wait a moment....</h1>
         </div>
      </div>
      <div class = "row" id = Instructions style = "display:none;">
         <div class = "col-md-12 text-center">
            <hr>
            <p>You are now playing with a <strong>real participant</strong>.</p>
            <p>In this part of the game, you will have the chance to reduce your partners score at a small cost to yourself.</p>
            <p>Once you make your decision, the game is over. Your partner will <strong>not</strong> be able to reduce your earnings in response. </p>
            <hr>
         </div>
      </div>  
      <div class="row" id = "Next" style = "display:none;">
         <div class="col-md-10"></div>
         <div class="col-md-2">
            <button type="button" class="btn btn-success btn-lg" onClick="dallinger.allowExit(); dallinger.goToPage('experiment2')">Next</button>
         </div>
      </div>
   </div>
{% endblock %}

{% block scripts %}
    <script>
        changePartners();
        //condition = randomiseCondition();
        condition = "Asocial"
        dallinger.storage.set("Condition", condition);
    </script>
{% endblock %}
