{% extends "layout.html" %}

{% block body %}
   <div class = "container">
      <div class = "row">
         <div class = "col-md-12 text-center">
            <h1>Part Two</h1>
         </div>
      </div>
      <div class = "row" id = "Partner">
         <div class = "col-md-12 text-center">
            <h1>Switching partners, please wait a moment....</h1>
         </div>
      </div>
      <div class = "row" id = Instructions style = display:none;">
         <div class = "col-md-12 text-center">
            <p>You have been <strong>randomly</strong> selected to be the decider. This means, you will now have the opportunity to <strong>reduce</strong> your new partners earnings at a small cost to yourself.</p>
            <p>Note that once this decision has been made, <strong>the game is over</strong> and your partner will have no opportunity to reduce your earnings in response.</p>
            <p>Also note that your partner for this part of the game is <strong>different to your previous partner.</strong></p>
         </div>
      </div>  
      <div class="row" id = "Next" style = display:none;">
         <div class="col-md-10"></div>
         <div class="col-md-2">
            <button type="button" class="btn btn-success btn-lg" onClick="dallinger.allowExit(); dallinger.goToPage('experiment2')">Next</button>
         </div>
      </div>
   </div>
{% endblock %}

{% block scripts %}
    <script>
        changePartners();
        condition = randomiseCondition();
        dallinger.storage.set("Condition", condition);
    </script>
{% endblock %}
